body
{
  margin:0px;
  background-color: #E6E8DB;
  
}


.container {
  position: relative;
  height: 80vh;
  background-image: url('janaa.webp');
  background-size: cover;
  background-position: center;
  clip-path: ellipse(100% 100% at 60% 0%);
  z-index: 2;
}

.nav-container {
  position: absolute;
  text-align: center;
  left: 28%;
  color: white;
}

.main-title
{
  text-align: center;
  letter-spacing: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 40px;
}
.nav-bar
{
  margin: auto;
  /*border: 1px solid black;*/
  width:900px;
  justify-content: space-between;
  display: flex;
}
.nav-content
{
  font-size: 14px;
  transition: transform 0.1s ease;  /* 부드러운 변화 */
}

.nav-content:hover
{
  transform: scale(1.10);  
}

.middle-container
{
  position:relative;
  border-radius: 50px;
  width: 100%;
  height:500px;
  z-index:10;  

}
.middle-container .middle-title:first-child
{
  position: absolute;
  top:150px;
  left:200px;
  letter-spacing: 4px;
}
.middle-container .middle-title:nth-child(2)
{
  position: absolute;
  color: black;
  top:170px;
  left:200px;
  font-size: 40px;
  letter-spacing: 10px;
}
.middle-container div
{
  position: absolute;
  color: black;
  top:260px;
  left:200px;
}
/* 사진 박스 */
.img-container{
  display:flex;
  gap:12px;
  margin-top:70px;
}

.img-container img{
  width:520px;         /* 필요에 따라 조절 */
  height:350px;
  border-radius:8px;
}