body
{
  margin:0px;
  background-color: #E6E8DB;
  
}


.container {
  position: relative;
  height: 80vh;
  background-image: url('janaa.webp');
  background-size: cover;
  background-position: center;
  clip-path: ellipse(100% 100% at 60% 0%);
  z-index: 2;
}

.nav-container {
  position: absolute;
  text-align: center;
  left: 28%;
  color: white;
}

.main-title
{
  text-align: center;
  letter-spacing: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 40px;
}
.nav-bar
{
  margin: auto;
  /*border: 1px solid black;*/
  width:900px;
  justify-content: space-between;
  display: flex;
}
.nav-content
{
  font-size: 14px;
  transition: transform 0.1s ease;  /* 부드러운 변화 */
}

.nav-content:hover
{
  transform: scale(1.10);  
}

.middle-container
{
  position:relative;
  background-color: rgba(139, 153, 184, 0.09);
  width:100%;
  height:600px;
  margin-top:60px;
}
.middle-title
{
  position: absolute;
  top:200px;
  left:150px;
  font-size: 40px;
}