body
{
  margin:0;
  padding: 0;
  background-image:
  url('janaa.webp');
}
.container
{
  text-align: center;
}
.main-title
{
  letter-spacing: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
   color: white;
}
.nav-bar
{
  margin: auto;
  /*border: 1px solid black;*/
  width:900px;
  justify-content: space-between;
  display: flex;
}
a
{
  text-decoration: none;
  color: white;
}
.nav-content
{
  font-size: 14px;
  transition: transform 0.1s ease;  /* 부드러운 변화 */
}

.nav-content:hover
{
  transform: scale(1.10);  
}
.overlay-container
{
  margin: 0 auto;
  justify-content: center; /* 수평 가운데 */
  align-items: center;     /* 수직 가운데 */
  height: 100vh;
}

.overlay 
{
  background-color: rgb(232, 239, 247);
  width: 70%;
  height: 200vh;
  border-radius: 20px;
  margin: 0 auto; /* 가운데 정렬 핵심 */
  margin-top:20px;
}




